.container {
  background-image: url("./assets/splash.jpg");
  background-size: cover;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  padding: 0px;
  font-family: "Baloo 2", cursive;
  padding-left: 5%;
  padding-top: 3%;
}
